@using eDostava.Web.ViewModels
@{
    ViewData["Title"] = "Uredi";
}

@model BlokDodajVM

<h2>Blok</h2>
<form asp-action="Snimi" asp-controller="Blok" ajax-poziv="da" ajax-url="/Blok/Snimi" ajax-rezultat="ajax-stavke-wrap">
    <input asp-for="GradId" type="hidden" />
    <input asp-for="BlokId" type="hidden" />
    <div class="form-group">
        <label>Naziv:</label>
        <input type="text" asp-for="nazivBloka" class="form-control"/>
    </div>
    <input type="submit" value="Snimi" />
</form>