<h1>Moj profil</h1>
<hr />
<div class="korisnik-page-wrap">
    <div class="korisnik-left-wrap col-sm-3">
        <div class="btn-group-vertical">
            <a asp-action="Profil" ajax-poziv="ajaxDa" ajax-rezultat="korisnik-right-wrap" class="btn btn-secondary">Korisnički podaci</a>
            <a href="#" class="btn btn-secondary">Narudžbe</a>
        </div>
    </div>
    <div id="korisnik-right-wrap" class="korisnik col-sm-9" ajax-onload="da" ajax-rezultat="korisnik-right-wrap" ajax-url="Korisnik/Profil">
        ...
    </div>
</div>