@model eDostava.Web.ViewModels.BlokListaVM
@{ 
    ViewData["Title"] = "Index";
     <link href="~/css/Login.css" rel="stylesheet" />
    DateTime today = DateTime.Now;
  
}

<div class="login-page">
    <div class="form">
        <form class="register-form" asp-action="Registracija" method="post">
            <select name="korisnik">
                <option value="vlasnik">Vlasnik restorana</option>
                <option value="narucilac">Narucilac</option>
            </select>
            <input type="text" name="ime" pattern="^[a-zA-Z ]*$" title="Only letters" placeholder="Ime" required />
            <input type="text" name="prezime" placeholder="Prezime" pattern="^[a-zA-Z ]*$" title="Only letters" required/>
            <input type="text" name="username" placeholder="Username" required/>
            <input type="password" name="password" placeholder="Password" required/>
            <input type="email" name="email" placeholder="Email" required/>
            <input type="datetime" name="datumKreiranja" placeholder="Datum" value="@today" readonly />
        <select name="blokid" asp-for="blokid" asp-items="@Model.blokovi"></select>
            <button type="submit">create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form asp-action="Prijava" method="post">
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password" placeholder="password" />
            <button type="submit">login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
    </div>
</div>

<script>

    $('.message a').click(function () {
        $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
    });

</script>