@model eDostava.Web.ViewModels.BlokListaVM
@{
    ViewData["Title"] = "Index";
    <link href="~/css/Login.css" rel="stylesheet" />
    DateTime today = DateTime.Now;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var x = TempData["error"];
}

<div class="login-page">
    <div class="logo-login">
        <div class="main-logo">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="main-logo-name">eDostava!</a>
        </div>
    </div>
    <h1>Naručite hranu online!</h1>
    <div class="form">
        <h3 class="text-left">Prijava</h3>
        <form class="register-form" asp-action="Registracija" method="post">
            <select name="korisnik">
                <option value="vlasnik">Vlasnik restorana</option>
                <option value="narucilac">Narucilac</option>
            </select>
            <input id="id1" type="text" name="ime" pattern="^[a-zA-Z ]*$" title="Only letters" placeholder="Ime" required />
            <span style="color:red" id="val1"></span>
            <input id="id2" type="text" name="prezime" placeholder="Prezime" pattern="^[a-zA-Z ]*$" title="Only letters" required />
            <span style="color:red" id="val2"></span>
            <input id="id3" type="text" name="username" placeholder="Username" required />
            <span style="color:red" id="val3"></span>
            <input id="id4" type="password" name="password" placeholder="Password" required />
            <span style="color:red" id="val4"></span>
            <input id="id5" type="email" name="email" placeholder="Email" required />
            <span style="color:red" id="val5"></span>
            <input type="datetime" name="datumKreiranja" placeholder="Datum" value="@today" readonly />
            <select name="blokid" asp-for="blokid" asp-items="@Model.blokovi"></select>
            <button type="submit" onclick="myFunction()">create</button>
            <p class="message">Već ste registrovani? <a href="#">Login</a></p>
        </form>
        <form asp-action="Prijava" method="post">
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password" placeholder="password" />
            <label><input type="checkbox" name="cookielogin" value="true"/>Zapamti prijavu</label>
            <button type="submit">login</button>

        </form>
        <p style="color:red">@x</p>
        <p class="message">Nemate nalog? <a href="#">Registrujte se</a></p>


    </div>
</div>

<div id="loginPodaci">
    <div>
        <h4>Moderator</h4>
        <p>Username: eldar <br /> Password: eldar</p>
        <p>Username: damir <br /> Password: damir</p>
    </div>
    <div>
        <h4>Vlasnik restorana</h4>
        <p>Username: vlasnik <br /> Password: vlasnik</p>
    </div>
    <div>
        <h4>Naručilac</h4>
        <p>Username: narucilac <br /> Password: narucilac</p>
    </div>
</div>

<script>

    $('.message a').click(function () {
        $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
    });

</script>


<script>
    function myFunction() {
        var inpObj = document.getElementById("id1");
        if (!inpObj.checkValidity()) {
            document.getElementById("val1").innerHTML = "Required, only letters!";
        } else {
            document.getElementById("val1").style.display = "none";
        }
         inpObj = document.getElementById("id2");
        if (!inpObj.checkValidity()) {
            document.getElementById("val2").innerHTML = "Required, only letters!";
        } else {
            document.getElementById("val1").style.display = "none";
        }
         inpObj = document.getElementById("id3");
        if (!inpObj.checkValidity()) {
            document.getElementById("val3").innerHTML = "Required!";
        } else {
            document.getElementById("val3").style.display = "none";
        }
         inpObj = document.getElementById("id4");
        if (!inpObj.checkValidity()) {
            document.getElementById("val4").innerHTML = "Required!";
        } else {
            document.getElementById("val4").style.display = "none";
        }
         inpObj = document.getElementById("id5");
        if (!inpObj.checkValidity()) {
            document.getElementById("val5").innerHTML = "Required email format!";
        } else {
            document.getElementById("val5").style.display = "none";
        }
    }
</script>