<h2>Dodaj</h2>

<form action="/Grad/Snimi">
    <div class="form-group">
        <label>Naziv</label>
        <input type="text" name="naziv" class="form-control" />
    </div>
    <div class="form-group">
        <label>Poštanski Broj</label>
        <input type="number" name="postanskiBroj" class="form-control" />
    </div>
    <input type="submit" value="Snimi" />
</form>
