@using eDostava.Data.Models
@using eDostava.Web.ViewModels

@model GradUrediVM

<h2>Grad</h2>
<form asp-action="Snimi" asp-controller="Grad">
    <input asp-for="GradId" type="hidden" class="form-control"/>
    <div class="form-group">
        <label>Naziv</label>
        <input asp-for="Naziv" type="text" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Poštanski Broj</label>
        <input asp-for="PostanskiBroj" type="number" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Broj blokova</label>
        <input type="number" asp-for="BrojBlokova" class="form-control" readonly />
    </div>
    <input type="submit" value="Snimi" class="btn btn-warning" />
</form>

<div id="ajax-stavke-wrap" style="border: 1px solid lightblue;">
</div>

<script>
    $(document).ready(function () {
        $.get("/Blok?gradId=@Model.GradId", function (data, status) {
            $("#ajax-stavke-wrap").html(data);
        });
    });
</script>