@model eDostava.Web.ViewModels.DodajJelovnikVM

@section Styles {
    <link href="@Url.Content("~/css/forma.css")" rel="stylesheet" type="text/css" />

}
    <form asp-action="DodajJelovnik" method="post">

        
        <input asp-for="restoranid" hidden />
        <div>
            <label asp-for="opis">Opis jelovnika: </label>
            <input asp-for="opis" />
            <span asp-validation-for="opis"></span>
        </div>
        <div>
            @*<label asp-for="aktivan">Aktivan: </label>*@
            <input type="radio" asp-for="aktivan" value="true" checked /> Active
            <input type="radio" asp-for="aktivan" value="false" /> Disabled 

        </div>
        <div>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>


    </form>
