@using eDostava.Web.ViewModels
@using eDostava.Web.ViewComponents
@{
    ViewData["Title"] = "Uredi";
}

@model VlasnikUrediVM

<h2>Uredi</h2>
<form asp-action="Snimi">
    <input asp-for="VlasnikId" type="hidden" />
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">Ime</div>
        </div>
        <input type="text" asp-for="Ime" class="form-control" />
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">Prezime</div>
        </div>
        <input type="text" asp-for="Prezime" class="form-control" />
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">Username</div>
        </div>
        <input type="text" asp-for="Username" class="form-control" />
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">Password</div>
        </div>
        <input type="text" asp-for="Password" class="form-control" />
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">@@</div>
        </div>
        <input type="text" asp-for="Email" class="form-control" placeholder="Input group example">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">Datum</div>
        </div>
        <input type="text" asp-for="DatumKreiranja" class="form-control" />
    </div>
    <input type="submit" value="Snimi" class="btn btn-info" />
</form>
<vc:RestoraniVlasnika
                      vlasnikId="@Model.VlasnikId">
</vc:RestoraniVlasnika>
@await Component.InvokeAsync("RestoraniVlasnika", new { VlasnikId = Model.VlasnikId })
