@model eDostava.Web.ViewModels.HranaDodajVM
<h2>Dodaj novi proizvod u jelovnik: </h2>
<br />
<form method="post" ajax-rezultat="jelovnikAjax@(Model.divID)" ajax-poziv="da" asp-action="DodajProizvod">

    <div>

        <input hidden asp-for="restoranID" class="form-control" />
        <input hidden asp-for="jelovnikID" class="form-control" />
        <input hidden asp-for="divID" class="form-control" />
    </div>
    <div>
        <label asp-for="Naziv">Naziv proizvoda: </label>
        <input asp-for="Naziv" class="form-control" placeholder="Naziv" />
        <span  asp-validation-for="Naziv"></span>
    </div>

    <div>
        <label asp-for="opis">Opis: </label>
        <input asp-for="opis" class="form-control" placeholder="Opis" />
        <span asp-validation-for="opis"></span>
    </div>

    <div>
        <label asp-for="sifra">Sifra: </label>
        <input asp-for="sifra" class="form-control" placeholder="Sifra" />
        <span asp-validation-for="sifra"></span>
    </div>

    <div>
        <label asp-for="cijena">Cijena: </label>
        <input asp-for="cijena" class="form-control" placeholder="Cijena" />
        <span asp-validation-for="cijena"></span>
    </div>

    <div>
        <label asp-for="prilog">Prilog: </label>
        <input asp-for="prilog" class="form-control" placeholder="Prilog" />
        <span asp-validation-for="prilog"></span>
    </div>
    <div>
        <label asp-for="tipkuhinjeID">Tip kuhinje: </label>
        <select class="form-control" asp-for="tipkuhinjeID" asp-items="@Model.tipoviKuhinje"></select>
        <span asp-validation-for="tipkuhinjeID"></span>
        <p class="form-text text-muted"><a asp-action="DodajKuhinju" ajax-poziv="da" asp-route-jelovnikid="@Model.jelovnikID" ajax-rezultat="zaKuhinju2">Dodaj novi tip kuhinje! &raquo; </a></p>
    </div>

    <div>
        <input  type="submit" class="btn btn-primary" value="Submit" />
    </div>
    </form>
    <br />
    <div id="zaKuhinju2"></div>


