@using Microsoft.AspNetCore.Http
@using RS1_Ispit_2017.Helper
@using eDostava.Data.Models
@{
    string trenutnoLogiran = Context.Session.GetString("trenutnoLogiran");
    var moderator = Context.Session.Get<Moderator>("logiraniModerator");
    var korisnik = Context.Session.Get<Narucilac>("logiraniNarucilac");
}
<div class="container">
    <div class="nav-scroller bg-white d-flex">
        <nav class="nav nav-underline ml-auto">
            <a class="nav-link text-dark">Dobrodošli <span class="text-warning">@trenutnoLogiran</span>!</a>
            @if (moderator != null)
            {
                <a class="nav-link" asp-action="Index" asp-controller="Moderator" asp-area="AdminModul"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
            }
            @if (korisnik != null)
            {
                <a class="nav-link" asp-action="Index" asp-controller="Korisnik" asp-area="KorisnikModul"><i class="fas fa-user-circle"></i> Profil</a>
            }
            <a class="nav-link" asp-action="Odjava" asp-controller="Login" asp-area=""><i class="fas fa-sign-out-alt"></i> Logout</a>
        </nav>
    </div>
</div>
