@using Microsoft.AspNetCore.Http
@{
    string trenutnoLogiran = Context.Session.GetString("trenutnoLogiran");
}
<div class="nav-scroller bg-white box-shadow d-flex">
    <nav class="nav nav-underline ml-auto">
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>

        <a class="nav-link" asp-action="Index" asp-controller="Korisnik">Profil</a>
        <a class="nav-link" href="/chat/signup">Dobrodošli <span class="text-warning">@trenutnoLogiran</span>!</a>
        <a class="nav-link" asp-action="Index" asp-controller="Login">Logout</a>
    </nav>
</div>
