@using Microsoft.AspNetCore.Http
@{
    string trenutnoLogiran = Context.Session.GetString("trenutnoLogiran");
}
<div class="container">
    <div class="nav-scroller bg-white d-flex">
        <nav class="nav nav-underline ml-auto">
            <a class="nav-link text-dark">Dobrodošli <span class="text-warning">@trenutnoLogiran</span>!</a>
            <a class="nav-link" asp-action="Index" asp-controller="Korisnik">Profil</a>
            <a class="nav-link" asp-action="Odjava" asp-controller="Login">Logout</a>
        </nav>
    </div>
</div>
